/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

@font-face {
  font-family: 'Silverfake';
  src: url(fonts/Silverfake.eot);
  src: url(fonts/Silverfake.eot?#iefix) format("embedded-opentype"), url(fonts/Silverfake.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url(fonts/YanoneKaffeesatz-Light.eot);
  src: url(fonts/YanoneKaffeesatz-Light.eot?#iefix) format("embedded-opentype"), url(fonts/YanoneKaffeesatz-Light.woff) format("woff"), url(fonts/YanoneKaffeesatz-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url(fonts/YanoneKaffeesatz-Regular.eot);
  src: url(fonts/YanoneKaffeesatz-Regular.eot?#iefix) format("embedded-opentype"), url(fonts/YanoneKaffeesatz-Regular.woff) format("woff"), url(fonts/YanoneKaffeesatz-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url(fonts/YanoneKaffeesatz-Thin.eot);
  src: url(fonts/YanoneKaffeesatz-Thin.eot?#iefix) format("embedded-opentype"), url(fonts/YanoneKaffeesatz-Thin.woff) format("woff"), url(fonts/YanoneKaffeesatz-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url(fonts/YanoneKaffeesatz-Bold.eot);
  src: url(fonts/YanoneKaffeesatz-Bold.eot?#iefix) format("embedded-opentype"), url(fonts/YanoneKaffeesatz-Bold.woff) format("woff"), url(fonts/YanoneKaffeesatz-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'SPSL SwordsmanC';
  src: url(fonts/SPSLSwordsmanC.eot);
  src: url(fonts/SPSLSwordsmanC.eot?#iefix) format("embedded-opentype"), url(fonts/SPSLSwordsmanC.woff) format("woff"), url(fonts/SPSLSwordsmanC.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Intro Inline';
  src: url(fonts/Intro-Inline.eot);
  src: url(fonts/Intro-Inline.eot?#iefix) format("embedded-opentype"), url(fonts/Intro-Inline.woff) format("woff"), url(fonts/Intro-Inline.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@keyframes ripple-out {
  0% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1; }
  100% {
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    opacity: 0; } }

.ripple-out {
  position: relative; }
  .ripple-out:before {
    content: '';
    display: block;
    position: absolute;
    border: 5px solid white;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    opacity: 0;
    animation: ripple-out 1.2s infinite; }

@keyframes bubble-in {
  0% {
    min-width: 120vw;
    min-height: 120vw; }
  70% {
    min-width: 750px;
    min-height: 548px; }
  100% {
    min-width: 850px;
    min-height: 648px; } }

@keyframes bubble-out {
  0% {
    min-width: 850px;
    min-height: 648px; }
  30% {
    min-width: 750px;
    min-height: 548px; }
  100% {
    min-width: 120vw;
    min-height: 120vw; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-out-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in-img {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in-shake {
  0% {
    opacity: 0;
    transform: rotate(10deg); }
  50% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(0);
    opacity: 1; } }

@keyframes fade-in-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-10%); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade-out-ripple {
  0% {
    opacity: 1; }
  30% {
    transform: scale(0.95); }
  70% {
    transform: scale(1.1); }
  100% {
    opacity: 0;
    box-shadow: none;
    transform: scale(0.5); } }

@keyframes slide-out {
  0% {
    transform: translateX(0); }
  70% {
    background: white; }
  99% {
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(calc(-100% + 335px));
    background: white; } }

@keyframes slide-in {
  0% {
    transform: translateX(calc(-100% + 335px)); }
  100% {
    transform: translateX(0); } }

@keyframes bubble-top-line {
  0% {
    width: 0; }
  100% {
    width: 79%; } }

@keyframes point-line {
  0% {
    width: 0;
    left: 0; }
  100% {
    width: 16px;
    left: -20px; } }

@keyframes point-line-top {
  0% {
    width: 0;
    left: 0; }
  100% {
    width: 16px;
    left: -20px;
    transform: rotate(30deg); } }

@keyframes point-line-bottom {
  0% {
    width: 0;
    left: 0; }
  100% {
    width: 16px;
    left: -20px;
    transform: rotate(-30deg); } }

@keyframes line-bubble {
  100% {
    transform: translateX(-30px);
    width: 10px;
    height: 10px;
    opacity: 0; } }

@keyframes bubble-bottom-line {
  0% {
    width: 0; }
  100% {
    width: 73%; } }

@keyframes slide-left {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

@keyframes slide-right {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

@keyframes slide-left-prev {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

@keyframes slide-right-prev {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }

@keyframes sidebar-in {
  0% {
    transform: translateX(0); }
  40% {
    transform: translateX(-60px);
    box-shadow: 60px 0 0 0 white; }
  70% {
    transform: translateX(10px); }
  100% {
    transform: translateX(0); } }

@keyframes sidebar-in-left {
  0% {
    transform: translateX(0); }
  40% {
    transform: translateX(60px);
    box-shadow: -60px 0 0 0 white; }
  70% {
    transform: translateX(-10px); }
  100% {
    transform: translateX(0); } }

@keyframes fade-in-loop {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes shake-loop {
  0% {
    transform: rotate(0); }
  33% {
    transform: rotate(-5deg); }
  66% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(0); } }

@keyframes shake-loop-slow {
  0% {
    transform: rotate(0); }
  33% {
    transform: rotate(-2deg); }
  66% {
    transform: rotate(2deg); }
  100% {
    transform: rotate(0); } }

@keyframes bubble-top-line-loop {
  0% {
    width: 79%; }
  20% {
    left: 27px;
    width: 79%; }
  40% {
    left: calc(79% + 27px);
    width: 0; }
  60% {
    left: 27px;
    width: 79%; }
  80% {
    width: 0; }
  100% {
    width: 79%; } }

@keyframes bubble-bottom-line-loop {
  0% {
    width: 73%; }
  20% {
    right: 0;
    width: 73%; }
  40% {
    right: 73%;
    width: 0; }
  60% {
    right: 0;
    width: 73%; }
  80% {
    width: 0; }
  100% {
    width: 73%; } }

@keyframes slider-loading {
  0% {
    stroke-dasharray: 0 182.12; }
  77% {
    stroke-dasharray: 145.696 145.696; }
  95% {
    stroke-dasharray: 182.12 182.12;
    transform: rotate(-90deg); }
  100% {
    stroke-dasharray: 0 182.12;
    transform: rotate(270deg); } }

@keyframes receipt-loading {
  0% {
    stroke-dasharray: 0 150.72; }
  77% {
    stroke-dasharray: 120.576 120.576; }
  100% {
    stroke-dasharray: 150.72 150.72;
    transform: rotate(-90deg); } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

* {
  margin: 0;
  padding: 0;
  outline: none; }
  *, *:after, *:before {
    box-sizing: border-box; }

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 28px;
  overflow: hidden;
  background: #6ab023;
  -webkit-font-smoothing: antialiased; }

li {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

.silver-font {
  font-family: "Silverfake", sans-s erif; }

.intro-font {
  font-family: "Intro Inline", sans-serif; }

.sword-font {
  font-family: "SPSL SwordsmanC", sans-serif; }

.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform; }
  .container.active {
    opacity: 0;
    animation: fade-in 0.6s forwards;
    z-index: 1; }
  .container.hide {
    animation: fade-out 0 0.6s forwards;
    z-index: 0; }
  .container.slide {
    animation: slide-out 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    z-index: 2; }
    .container.slide + .active {
      transition: none; }
  .container.slide-in {
    animation: slide-in 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    z-index: 2; }
  .container.no-animation *, .container.no-animation *:before, .container.no-animation *:after {
    animation: none !important; }
  .container.pause *, .container.pause *:before, .container.pause *:after {
    animation-play-state: paused !important; }

.button {
  font-family: inherit;
  display: inline-block;
  padding: 22px;
  background-color: #fafdf7;
  box-shadow: 0 3px 14.55px 0.45px rgba(1, 15, 1, 0.3);
  color: #134f13;
  min-width: 240px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.4s; }
  .button[disabled] {
    opacity: 0.2; }
  .button_bubble {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%); }
  .button_age {
    margin-bottom: 93px; }
  .button_fade-in {
    opacity: 0; }
    .active .button_fade-in {
      animation: fade-in-to-bottom 0.3s 0.3s forwards; }
  .button_back:before {
    content: '';
    display: inline-block;
    height: 18px;
    width: 12px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjE4cHgiIGhlaWdodD0iMjVweCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiAgc3Ryb2tlPSJyZ2IoMTksIDc5LCAxOSkiIHN0cm9rZS13aWR0aD0iMnB4IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0ibWl0ZXIiIGZpbGw9Im5vbmUiIGQ9Ik0xNC45NjYsMjEuMDY0IEwzLjQ4OSwxMi4wMTAgTDE0Ljk2NiwyLjk1NiAiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 33px;
    margin-left: -33px; }
  .button_green {
    background: #78bf20;
    color: white; }
  .button-group {
    opacity: 0; }
    .button-group .button {
      margin-right: 50px;
      display: inline-block; }
      .button-group .button:last-child {
        margin-right: 0; }
    .button-group_age {
      margin-bottom: 159px; }
      .active .button-group_age {
        animation: fade-in-to-bottom 0.3s 0.6s forwards; }
    .active .button-group_receipt {
      animation: fade-in-to-bottom 0.3s 0.6s forwards; }
    .button-group_result {
      margin-bottom: 0; }
      .slide-in .button-group_result {
        animation: fade-in-to-bottom 0.3s 2.2s cubic-bezier(0.77, 0, 0.175, 1) forwards; }

.loader {
  background: #6ab023 !important; }
  .loader:before, .loader:after {
    content: '';
    display: block;
    z-index: 999999; }
  .loader:before {
    background: #6ab023;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  .loader:after {
    width: 50px;
    height: 50px;
    border: 2px solid;
    border-color: transparent white white white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    border-radius: 50%; }
  .loader.intro:after {
    animation-duration: 0.8s; }

.hint {
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-size: 18px;
  line-height: 1.44;
  text-align: left;
  color: rgba(78, 88, 68, 0.5); }

.close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 40px;
  right: 40px;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1); }
  .active .close {
    opacity: 1; }
  .close:before, .close:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    position: absolute; }
  .close:before {
    transform: rotate(90deg); }

::-webkit-scrollbar {
  width: 4px; }

::-webkit-scrollbar-track {
  background: none;
  border-right: #dde2d7 1px solid; }

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:window-inactive {
  background: #8ed832; }

.green-block {
  background-color: #6ab023;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px; }
  .active .green-block_receipt .green-block__title {
    animation: fade-in-to-bottom 0.3s 0.3s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
  .green-block_receipt .green-block__title_big {
    font-size: 66px;
    margin-bottom: 78px; }
    .active .green-block_receipt .green-block__title_big {
      animation: fade-in-to-bottom 0.3s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
  .green-block__body {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .green-block__title {
    font-size: 30px;
    margin-bottom: 103px;
    margin-top: 0;
    font-weight: normal;
    opacity: 0; }
    .active .green-block__title {
      animation: fade-in-to-bottom 0.3s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
    .green-block__title_big {
      font-size: 70px;
      margin-bottom: 95px;
      letter-spacing: -0.03em; }
      .active .green-block__title_big {
        animation: fade-in-to-bottom 0.3s 0.3s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
    .green-block__title_middle {
      margin-bottom: 64px; }
    .green-block__title-group {
      margin-bottom: 63px;
      opacity: 0; }
      .active .green-block__title-group {
        animation: fade-in-to-bottom 0.3s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
      .green-block__title-group .green-block__title {
        margin-bottom: 0;
        opacity: 1; }
        .green-block__title-group .green-block__title_big {
          margin-bottom: 18px; }
        .active .green-block__title-group .green-block__title {
          animation: none; }
  .green-block__hint {
    font-size: 22px;
    opacity: 0; }
    .active .green-block__hint {
      animation: fade-in-to-bottom 0.3s 0.9s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
  .green-block__number {
    width: 164px;
    height: 164px;
    text-align: center;
    margin-bottom: 67px;
    display: inline-block;
    opacity: 0; }
    .active .green-block__number {
      animation: fade-in 0.7s 0.2s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
  .green-block__img {
    margin-bottom: 71px;
    opacity: 0; }
    .active .green-block__img {
      animation: fade-in-to-bottom 0.3s 0.3s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
    .green-block__img_send {
      margin-bottom: 51px; }
  .green-block__field {
    background: none;
    padding: 26px;
    font-size: 50px;
    line-height: normal;
    text-align: center;
    color: white;
    font-weight: 300;
    border: none;
    font-family: "Yanone Kaffeesatz", sans-serif; }
    .green-block__field::-webkit-input-placeholder {
      color: #357118; }
    .green-block__field-wrapper {
      margin: 0 auto 126px;
      width: 590px;
      opacity: 0; }
      .active .green-block__field-wrapper {
        animation: fade-in-to-bottom 0.3s 0.3s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
    .green-block__field-line {
      height: 2px;
      background-color: #357118; }
    .green-block__field-progress {
      height: 100%;
      width: 0;
      background-color: white;
      transition: 0.2s width; }

.intro {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .intro__video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .intro__btn {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1); }
    .intro__btn.show {
      opacity: 1; }

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 35px), calc(-50% - 24px));
  background-image: url(img/bubble.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 70px;
  width: 850px;
  height: 648px; }
  .hide .bubble {
    animation: bubble-out 0.3s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
  .bubble__top {
    font-size: 92px;
    position: relative; }
    .bubble__top:after {
      content: '';
      display: block;
      background: white;
      position: absolute;
      left: 27px;
      height: 5px;
      bottom: -10px;
      width: 79%; }
  .bubble__middle {
    font-size: 135px;
    line-height: 1.25; }
  .bubble__bottom {
    font-size: 288px;
    text-transform: uppercase;
    line-height: 0.8;
    position: relative; }
    .bubble__bottom:before, .bubble__bottom:after {
      content: '';
      display: block;
      background: white;
      position: absolute;
      right: 0; }
    .bubble__bottom:before {
      height: 8px;
      bottom: -15px;
      width: 73%; }
    .bubble__bottom:after {
      height: 5px;
      bottom: -26px;
      width: 73%; }
  .bubble__body {
    position: relative;
    padding: 0 59px 66px; }
  .bubble__point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%); }
    .bubble__point_right {
      transform: translateY(-50%) rotate(180deg);
      left: auto;
      right: 6%; }
  .bubble__line {
    height: 5px;
    background: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 16px;
    left: -20px; }
    .bubble__line_top {
      transform-origin: 34px 0;
      transform: rotate(30deg); }
    .bubble__line_bottom {
      transform-origin: 26px 0;
      transform: rotate(-30deg); }

.back-block {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%; }

.pick-up {
  display: flex; }

.sidebar {
  width: 335px;
  min-width: 335px;
  padding: 40px;
  background: white;
  position: absolute;
  top: 0;
  z-index: 5;
  box-shadow: 0 0 0 0 white;
  height: 100%; }
  .calculate .sidebar_pick-up {
    display: none; }
  .pick-up .sidebar_calculate {
    display: none; }
  .sidebar_calculate, .sidebar_pick-up {
    left: 0; }
  .sidebar_demo {
    right: 0; }
  .sidebar__title {
    color: #6ab023;
    margin-bottom: 40px;
    font-weight: normal;
    animation: fade-out 0.1s 0.1s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
    .sidebar.active .sidebar__title {
      opacity: 0;
      animation: fade-in 0.3s 0.7s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
    .sidebar__title_tab {
      margin-bottom: 23px;
      font-size: 28px; }
      .sidebar.active .sidebar__title_tab {
        opacity: 1;
        animation: none; }

.logo {
  margin-bottom: 44px;
  animation: fade-out 0.1s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
  .logo_demo {
    margin-bottom: 36px; }
  .logo_abs {
    position: absolute;
    left: 40px;
    top: 40px; }
  .sidebar.active .logo {
    opacity: 0;
    animation: fade-in 0.3s 0.4s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
  .result .logo {
    opacity: 0; }
  .slide-in .logo {
    animation: fade-in-to-bottom 0.3s 1s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
  .sidebar_demo.active .logo {
    animation-delay: 0.4s; }
  .logo__img {
    display: block; }

.slider {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .slider-wrapper {
    display: flex;
    position: absolute;
    left: 335px;
    right: 335px;
    top: 0;
    bottom: 0; }
  .slider-move {
    min-width: calc(100% + 335px);
    height: 100%;
    display: flex;
    transition: 0.4s ease-out;
    will-change: transform; }
    .demo .slider-move {
      transform: translateX(-335px); }
  .slider__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2; }
    .slider__list-item {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      will-change: transform; }
      .left .slider__list-item {
        transform: translateX(100%); }
        .left .slider__list-item.prev {
          animation: slide-left-prev 0.7s ease-out forwards; }
        .left .slider__list-item.active {
          animation: slide-left 0.7s ease-out forwards; }
      .right .slider__list-item {
        transform: translateX(-100%); }
        .right .slider__list-item.prev {
          animation: slide-right-prev 0.7s forwards; }
        .right .slider__list-item.active {
          animation: slide-right 0.7s forwards; }
  .slider__button {
    width: 35px;
    height: 68px;
    position: absolute;
    bottom: 288px;
    z-index: 10;
    transition: 0.4s; }
    .calculate .slider__button, .result .slider__button, .demo .slider__button {
      opacity: 0;
      visibility: hidden; }
    .slider__button_prev {
      background-image: url(img/arrow-prev.svg);
      left: 150px; }
    .slider__button_next {
      background-image: url(img/arrow-next.svg);
      right: 150px; }
  .slider__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 130px;
    text-align: center;
    transition: 0.4s top; }
    .slider__title.bombay {
      top: 70px; }
    .slider__title.active {
      opacity: 0;
      animation: fade-in 0.35s 0.35s forwards; }
    .slider__title.hide {
      opacity: 1;
      animation: fade-out 0.35s forwards; }
  .slider__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.menu {
  width: calc(100% + 40px);
  margin: 0 -20px; }
  .menu__item {
    padding: 20px;
    border-bottom: 1px solid #dde2d7;
    display: flex;
    align-items: center;
    transition: 0.3s;
    animation: fade-out 0.15s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
    .menu__item:last-child {
      border-bottom: none; }
    .menu__item.active circle {
      stroke-dasharray: 182.12 182.12;
      animation: slider-loading 11.9s linear forwards; }
    .sidebar.active .menu__item {
      opacity: 0;
      animation: fade-in 0.3s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
  .menu__ico {
    display: block; }
    .menu__ico-wrapper {
      width: 58px;
      height: 58px;
      margin-right: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
    .menu__ico-svg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1; }
      .menu__ico-svg circle {
        fill: none;
        stroke: #6ab023;
        stroke-width: 1;
        transform: rotate(-90deg);
        transform-origin: center;
        stroke-dasharray: 0 182.12; }
  .menu__text {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative; }
    .menu__text_green {
      color: #78bf20;
      background: white;
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      transition: 1.2s;
      overflow: hidden; }
      .menu__item.active .menu__text_green {
        width: 100%; }

.demo {
  display: flex; }

.back {
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 40px;
  color: #78bf20;
  font-size: 22px;
  font-weight: 400;
  z-index: 20;
  opacity: 0;
  animation: fade-in 0.4s 0.7s forwards;
  transition: 0.8s cubic-bezier(0.77, 0, 0.175, 1); }
  .back:before {
    content: '';
    display: block;
    width: 16px;
    height: 17px;
    margin-right: 22px;
    background-image: url(img/back.png);
    background-position: center;
    background-repeat: no-repeat; }
  .back_prev {
    left: auto;
    right: 40px; }
    .back_prev:before {
      background-image: url(img/backward.png);
      width: 9px; }
  .back_right {
    left: auto;
    right: 40px; }
  .result .back {
    opacity: 0; }
  .slide-in .back {
    animation: fade-in-to-bottom 0.3s 1s cubic-bezier(0.77, 0, 0.175, 1) forwards; }

.receipt__list {
  counter-reset: step;
  padding-left: 8px; }
  .receipt__list sup {
    font-size: 14px; }
  .receipt__list-item {
    display: flex;
    align-items: center;
    counter-increment: step;
    font-size: 22px;
    line-height: 1.18;
    color: #4e5844;
    padding-bottom: 24px;
    padding-top: 5px;
    position: relative;
    overflow: hidden;
    animation: fade-out 0.15s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
    .sidebar.active .receipt__list-item {
      opacity: 0;
      animation: fade-in 0.3s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
    .receipt__list-item:first-child {
      padding-top: 0; }
    .receipt__list-item:last-child {
      padding-bottom: 0; }
      .receipt__list-item:last-child:after {
        height: 50%; }
    .receipt__list-item:nth-child(2n):after {
      top: -1px; }
    .receipt__list-item:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      border-left: 1px dotted #78bf20;
      left: 23px;
      top: 0;
      height: 100%; }
    .receipt__list-item:first-child:after {
      top: 10px;
      height: calc(100% - 10px); }

.receipt__wrapper {
  margin-top: 8px; }

.receipt__counter {
  width: 48px;
  height: 48px;
  min-width: 48px;
  margin-right: 28px;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  color: #78bf20;
  box-shadow: 0 0 0 5px white;
  position: relative;
  z-index: 1;
  background: white;
  margin-top: 12px; }

.receipt__svg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1; }
  .receipt__svg circle {
    fill: none;
    stroke: #6ab023;
    stroke-width: 1;
    transform: rotate(-90deg);
    transform-origin: center;
    stroke-dasharray: 0 182.12; }
    .sidebar.active .tabs__tab.active .receipt__svg circle {
      animation: receipt-loading 1s linear forwards; }
    .touched .tabs__tab:not(.active) .receipt__svg circle {
      animation: none; }

.receipt__text.green {
  color: #78bf20; }

.receipt__row {
  white-space: nowrap; }
  .receipt__row i {
    font-style: normal;
    opacity: 0;
    transition: 0.01s opacity; }
    .loaded .receipt__row i {
      opacity: 1; }
    .touched .tabs__tab:not(.active) .receipt__row i {
      opacity: 0; }

.ingredients {
  height: 100%; }
  .ingredients_horizontal {
    height: auto;
    margin-bottom: 47px;
    opacity: 0; }
    .slide-in .ingredients_horizontal {
      animation: fade-in-to-bottom 0.3s 1.9s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
      .slide-in .ingredients_horizontal .ingredients__img-wrapper {
        animation: fade-in-img 0.4s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
    .ingredients_horizontal .ingredients__header {
      text-align: center; }
    .ingredients_horizontal .ingredients__list {
      display: flex;
      justify-content: center;
      height: auto;
      padding: 0 45px; }
      .ingredients_horizontal .ingredients__list-item {
        border-bottom: none;
        text-align: left;
        padding: 0;
        margin-right: 120px;
        max-width: 175px; }
        .ingredients_horizontal .ingredients__list-item:last-child {
          margin-right: 0; }
        .ingredients_horizontal .ingredients__list-item.loaded .ingredients__text:after {
          opacity: 1; }
    .ingredients_horizontal .ingredients__text:after {
      display: block;
      content: '_____';
      color: #78bf20;
      font-size: 14px;
      letter-spacing: 1px;
      opacity: 0;
      transition: 0.4s 0.4s cubic-bezier(0.77, 0, 0.175, 1); }
    .ingredients_horizontal .ingredients__description {
      font-size: 14px;
      margin-bottom: 5px; }
  .ingredients__list {
    overflow: auto;
    height: calc(100% - 55px);
    padding-right: 20px;
    width: calc(100% + 40px);
    margin: 0 -20px; }
    .ingredients__list-item {
      display: flex;
      align-items: center;
      padding: 16px 5px;
      border-bottom: 1px solid transparent; }
      .ingredients__list-item i {
        font-style: normal;
        opacity: 0; }
      .ingredients__list-item.loaded {
        border-bottom-color: #dde2d7; }
        .ingredients__list-item.loaded i {
          transition: 0.01s opacity;
          opacity: 1; }
      .ingredients__list-item:last-child {
        border-bottom: 0; }
  .ingredients__img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: relative;
    z-index: 1; }
    .ingredients__img-wrapper {
      width: 95px;
      min-width: 95px;
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-right: 5px;
      opacity: 0; }
      .tabs__tab.active .ingredients__img-wrapper {
        animation: fade-in-img 0.4s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
      .ingredients__img-wrapper:before {
        content: '';
        display: block;
        position: absolute;
        top: calc(50% + 8px);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 55px;
        height: 55px;
        border: 1px solid #78bf20;
        border-radius: 50%; }
  .ingredients__text {
    margin-top: 12px; }
  .ingredients__title {
    color: #4e5844;
    font-size: 22px;
    margin-bottom: 7px; }
  .ingredients__description {
    color: #78bf20;
    font-size: 18px; }
  .ingredients__popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 335px;
    background: rgba(255, 255, 255, 0.95);
    z-index: 10;
    display: flex;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 63px 25px 23px;
    transition: 0.4s; }
    .ingredients__popup:before {
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid;
      border-color: transparent #8ed832 #8ed832 #8ed832;
      animation: rotate 1.2s linear infinite;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -20px;
      margin-left: -20px;
      opacity: 0;
      transition: 0.4s; }
    .ingredients__popup.show {
      opacity: 1;
      visibility: visible; }
    .ingredients__popup.load:before {
      opacity: 1; }
  .ingredients__header {
    font-size: 28px;
    margin-bottom: 23px;
    font-weight: normal; }

.about {
  font-size: 22px;
  color: #4e5844; }
  .about i {
    font-style: normal;
    opacity: 0;
    animation: fade-in 0.01s forwards; }
  .about__text {
    line-height: 1.19;
    margin-bottom: 36px; }
  .about__list {
    padding: 22px 0 29px;
    border-top: 1px solid transparent;
    width: calc(100% + 40px);
    margin: 0 -20px; }
    .typed .about__list {
      border-top: 1px solid #dde2d7; }
    .about__list-item {
      display: flex;
      align-items: center;
      margin-bottom: 2px;
      padding: 0 20px;
      opacity: 0; }
      .typed .about__list-item {
        animation: fade-in 0.4s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
      .about__list-item:last-child {
        margin-bottom: 0; }
  .about__title {
    font-size: 22px;
    line-height: 1.82;
    width: 102px;
    padding-right: 10px; }
  .about__count {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #e6ebe2;
    margin-right: 10px;
    opacity: 0;
    transition: 0.05s opacity cubic-bezier(0.77, 0, 0.175, 1); }
    .typed .about__count {
      opacity: 1; }
    .about__count.active {
      background-color: #8ed832; }
    .about__count:last-child {
      margin-right: 0; }
    .about__count-wrapper {
      display: flex;
      align-items: center;
      margin-top: 5px; }
  .about__combination {
    flex-wrap: wrap; }
    .about__combination, .about__combination-wrapper {
      display: flex;
      align-items: center; }
    .about__combination-wrapper {
      padding: 22px 20px 0;
      border-top: 1px solid #dde2d7;
      margin: 0 -20px;
      opacity: 0; }
      .typed .about__combination-wrapper {
        animation: fade-in 0.4s 2.6s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
  .about__ico {
    display: block;
    margin-right: 16px;
    max-width: 32px;
    max-height: 32px;
    transition: 0.4s opacity cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 0; }
    .typed .about__ico {
      opacity: 1; }
    .about__ico:last-child {
      margin-right: 0; }

.tabs {
  width: calc(100% + 40px);
  margin: 0 -20px; }
  .tabs__list {
    display: flex;
    border-bottom: 1px solid #dde2d7;
    justify-content: center; }
    .tabs__list-wrapper {
      position: relative;
      margin-bottom: 21px;
      animation: fade-out 0.1s 0.1s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
      .sidebar.active .tabs__list-wrapper {
        opacity: 0;
        animation: fade-in 0.3s 0.7s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
  .tabs__line {
    position: absolute;
    height: 4px;
    background: #78bf20;
    bottom: 0;
    left: 0;
    right: 100%;
    transition: left 0.8s, right 0.4s;
    border-radius: 2px; }
    .tabs__line.left {
      transition: left 0.4s, right 0.8s; }
  .tabs__handler {
    color: #4e5844;
    font-size: 22px;
    line-height: 1;
    padding: 16px 10px 17px;
    white-space: nowrap;
    transition: 0.4s color; }
    .tabs__handler.active {
      color: #78bf20; }
  .tabs__wrapper {
    position: relative;
    animation: fade-out 0.1s 0.1s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
    .sidebar.active .tabs__wrapper {
      opacity: 0;
      animation: fade-in 0.3s 1.4s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
  .tabs__tab {
    opacity: 0;
    visibility: hidden;
    padding: 0 20px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    .tabs__tab.active {
      opacity: 1;
      visibility: visible; }

.calculate {
  display: flex; }

.counter {
  border-top: 1px solid #dde2d7;
  width: calc(100% + 40px);
  margin: 0 -20px;
  opacity: 0; }
  .sidebar.active .counter {
    animation: fade-in 0.4s 1s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
  .counter__number {
    font-size: 180px;
    line-height: 130px;
    color: #78bf20;
    opacity: 0;
    transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    position: absolute;
    left: 50%;
    top: 90px;
    filter: blur(50px); }
    .counter__number.prev {
      top: 50px;
      transform: translateX(calc(-50% - 200px)) scale(0.3); }
    .counter__number.active {
      opacity: 1;
      transform: translateX(-50%) scale(1);
      filter: none; }
    .counter__number.next {
      top: 50px;
      transform: translateX(calc(-50% + 200px)) scale(0.3); }
    .counter__number-wrapper {
      text-align: center;
      padding: 90px 0;
      font-family: "Intro Inline", sans-serif;
      position: relative;
      height: 310px;
      overflow: hidden; }
      .counter__number-wrapper:before {
        content: '';
        display: block;
        position: absolute;
        width: 300px;
        height: 26px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: url(img/ellipse.png) no-repeat center;
        background-size: contain; }
  .counter__button {
    width: 83px;
    height: 83px;
    background: no-repeat center;
    background-size: contain;
    transition: 0.4s; }
    .counter__button_plus {
      background-image: url(img/plus-button.png); }
    .counter__button_minus {
      background-image: url(img/minus-button.png); }
    .counter__button.disabled {
      opacity: 0.5; }
    .counter__button-wrapper {
      padding: 48px 44px 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      opacity: 0; }
      .sidebar.active .counter__button-wrapper {
        animation: fade-in 0.4s 1.4s cubic-bezier(0.77, 0, 0.175, 1) forwards; }

.bubble-button {
  background: none;
  border: none;
  position: absolute;
  bottom: 323px;
  left: 50%;
  max-width: 490px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  font-family: "Yanone Kaffeesatz", sans-serif;
  line-height: 0.91;
  font-size: 22px;
  color: #134f13;
  font-weight: normal;
  margin-left: 80px;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1) mrgin; }
  .bubble-button_group {
    margin-left: 0;
    margin-bottom: -23px;
    transform: translateX(-50%);
    align-items: flex-start; }
  .demo .bubble-button {
    opacity: 0;
    animation: fade-in 0.4s 0.7s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
  .calculate .bubble-button {
    opacity: 0;
    animation: fade-out-in 0.4s 0.7s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
  .bubble-button__body {
    width: 170px;
    height: 130px;
    margin-left: -15px;
    background-image: url(img/bubble-right.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding: 20px 20px 20px 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none; }
  .bubble-button__wrapper {
    box-shadow: 0 0 53px 9px #0c3110;
    border-radius: 40px;
    width: 155px;
    height: 129px;
    margin-right: 183px;
    transition: 0.4s transform;
    transform-origin: 0 100%;
    opacity: 0;
    animation: fade-in 0.4s 0.7s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
    .bubble-button__wrapper:active {
      transform: scale(0.95); }
    .bubble-button__wrapper.fade-out {
      opacity: 1;
      animation: fade-out-ripple 0.4s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
    .bubble-button__wrapper:last-child {
      margin-right: 0; }
    .bubble-button__wrapper_left {
      margin-top: 66px; }
      .bubble-button__wrapper_left .bubble-button__body {
        padding: 20px 34px 20px 20px;
        margin-left: 0;
        margin-right: -15px;
        background-image: url(img/bubble-left.png); }
  .bubble-button__icon {
    display: block;
    margin-bottom: 10px;
    height: 35px;
    width: 36px;
    background-position: center top;
    background-repeat: no-repeat;
    transition: 0.2s linear; }

.cocktail {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(img/slider-bg.jpg);
  background-size: cover;
  overflow: hidden;
  width: 100%; }
  .cocktail:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 164px;
    background-image: url(img/table.jpg);
    background-size: contain; }
  .slider .cocktail {
    background: none; }
    .slider .cocktail:before {
      display: none; }
  .cocktail__img {
    display: block; }
    .cocktail__img-wrapper {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
  .cocktail__gif {
    position: absolute;
    z-index: -1;
    left: 699px; }
    .bianco .cocktail__gif, .rosso .cocktail__gif {
      bottom: 86px;
      left: 700px; }
    .prosecco .cocktail__gif {
      bottom: 85px; }
    .bombay .cocktail__gif {
      bottom: 340px; }
    .mojito .cocktail__gif {
      bottom: 84px;
      left: 720px; }

.video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }

.result {
  background: #fafdf7;
  text-align: center;
  color: #78bf20;
  padding: 40px; }
  .result:not(.slider-group) {
    transform: translateX(-100%); }
  .result.slider-group {
    padding: 0; }
  .result__header {
    font-size: 28px;
    margin-bottom: 48px;
    padding-top: 32px;
    opacity: 0; }
    .slide-in .result__header {
      animation: fade-in-to-bottom 0.3s 1s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
  .result__counter {
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    line-height: 110px;
    opacity: 0; }
    .slide-in .result__counter {
      animation: fade-in-to-bottom 0.3s 1.3s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
    .result__counter-text {
      font-size: 28px;
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translate(20px, -50%); }
  .result__tilda {
    font-size: 110.4px;
    font-weight: 100;
    line-height: 0.88;
    letter-spacing: 5.5px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(calc(-100% - 18px), calc(-50% + -12px)); }
  .result__number {
    font-size: 146.2px; }
  .result__title {
    font-size: 68.3px;
    letter-spacing: 2px;
    opacity: 0; }
    .slide-in .result__title {
      animation: fade-in-to-bottom 0.3s 1.6s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
    .result__title_sub {
      font-size: 35px;
      margin-bottom: 37px; }
    .result__title_single {
      margin-bottom: 77px; }
